.our-products {
    width: 100%;
    height: 614px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
  }
  .products-menu {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding-top: 20px;
    white-space: nowrap;
    gap: 0px;
    
}

.types-menu {
  color: white;
  display: flex;
    justify-content: center;
    overflow-x: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    white-space: nowrap;
    gap: 0px;
}
.product-card{
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DDCFC029;
  
}

.product-image-class{
  
}
.product-image{
  justify-content: center;
  align-items: center;
  
}

.product-title{
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}

.category-item, .type-item {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: 500;
    color: #4C6559;
}

.category-item.active, .type-item.active {
   
    
}

.category-item:hover, .type-item:hover {
   
    
}

.types-menu{
  
}

.similar-products{
  display: flex;
  flex-direction: row;

}

.view-more-button{
  color: white;
  border: 1px solid #4C6559;
  background:#4C6559;
  font-family: Kollektif, sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 2vw, 20px);
  line-height: clamp(20px, 2.5vw, 24px);
  padding: clamp(8px, 1.5vw, 12px) clamp(15px, 2vw, 20px);
}