@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  color: #4c6559;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 1555px;
  height: 614px;
  position: relative;
  font-family: "DM Sans", sans-serif;
}

.second-section {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: clamp(3.75rem, 8vw, 6.25rem);
}

.navbar-collapse.show + .hero-section {
  margin-top: 200px;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1;
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.hero-section p {
  font-size: 1.25rem;
  font-weight: 400;
}

.overlay-image-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -100px;
}

.overlay-image {
  width: 90%;
  max-width: 1300px;
  z-index: 10;
  border-radius: 20px;
  margin-top: -20px;
}

.about-us {
  color: white;
  /* background-size: cover;   */
  border-radius: 12px;
  max-height: 641px;
  max-width: 1240px;
}

.about-us p {
  font-size: 14px;
}

.category-tags {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-part {
  /* margin-top: 10px; */
}

@media (max-width: 767px) {
  .about-us h2 {
    font-family: kolletkif;
    font-size: 20px !important;
    font-weight: 400;
    line-height: 100%;
    justify-content: left;
  }
  .about-us h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .about-us p {
    font-size: 12px !important;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
  }
  /* .hero-section {
    padding: 20px !important;
    height: 440px !important; 
    max-height: 440px !important;
    overflow: hidden !important; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
  } */

  .hero-section .container {
    padding: 0 !important;
    margin: 0 auto !important;
  }

  .hero-section h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .hero-section p {
    font-size: 1rem;
    margin: 0 10px;
  }
}

@media (max-width: 600px) {
  .hero-section {
    max-height: 440px !important;
    background-size: cover !important;
    background-position: center !important;
    overflow: hidden !important;
  }
}
