@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    font-family: 'DM Sans', sans-serif;
    color: #4C6559;
}

/* @media (max-width:768px) {
    #image3{
        object-fit: cover;
        height:100vh;
    }
} */